:root {

  --margin: 5px;

  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;

  --color-background: #222;
  --color-text: #cdcdcd;
  --color-logo: white;

  --background: #111;

  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  --selection-background: lightblue;
  --selection-color: white;

  --max-width: 1300px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'MuseoModerno', cursive;
  --font-size: 100%;
}
